<script>
import Layout from './layout.vue';

export default {
  components: {
    Layout,
  },
};
</script>

<template>
  <layout>
    <template #illustration>
      <svg
        role="img"
        aria-hidden="true"
        width="288"
        height="164"
        viewBox="0 0 288 164"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M262 0H65C42.909 0 25 17.909 25 40v124h197c22.091 0 40-17.909 40-40V0Z"
          fill="#E7E4F2"
        />
        <path
          d="M175 87h-63l-7.692 51.919a2.001 2.001 0 0 0 1.786 2.284l27.004 2.613a2 2 0 0 0 2.172-1.708L138 123h11l2.73 19.108a2 2 0 0 0 2.172 1.708l27.004-2.613a2.001 2.001 0 0 0 1.786-2.284L175 87Zm-85 0H27l-7.692 51.919a2 2 0 0 0 1.786 2.284l27.004 2.613a2 2 0 0 0 2.172-1.708L53 123h11l2.73 19.108a2 2 0 0 0 2.172 1.708l27.004-2.613a2 2 0 0 0 1.786-2.284L90 87Z"
          fill="#fff"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M260 87h-63l-7.692 51.919a2.001 2.001 0 0 0 1.786 2.284l27.004 2.613a2 2 0 0 0 2.172-1.708L223 123h11l2.73 19.108a2 2 0 0 0 2.172 1.708l27.004-2.613a2.001 2.001 0 0 0 1.786-2.284L260 87Z"
          fill="#6FDAC9"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path d="M112 87h63l1 8h-65l1-8Zm-7 48 31 3-1.5 5.5-30-3 .5-5.5Z" fill="#FCA326" />
        <path d="m190 135 31 3-1.5 5.5-30-3 .5-5.5Z" fill="#fff" />
        <path d="m182 135-31 3 1.5 5.5 30-3-.5-5.5Z" fill="#FCA326" />
        <path d="m267 135-31 3 1.5 5.5 30-3-.5-5.5Z" fill="#fff" />
        <path
          d="M260 87h-63l-7.692 51.919a2.001 2.001 0 0 0 1.786 2.284l27.004 2.613a2 2 0 0 0 2.172-1.708L223 123h11l2.73 19.108a2 2 0 0 0 2.172 1.708l27.004-2.613a2.001 2.001 0 0 0 1.786-2.284L260 87Zm-155 48 24.5 2.371M190 135l24.5 2.371M182 135l-30.5 2.952M267 135l-30.5 2.952M144 123h9m-41-28h63M59 123h9m161 0h9m-63-36h-63l-7.692 51.919a2.001 2.001 0 0 0 1.786 2.284l27.004 2.613a2 2 0 0 0 2.172-1.708L138 123h11l2.73 19.108a2 2 0 0 0 2.172 1.708l27.004-2.613a2.001 2.001 0 0 0 1.786-2.284L175 87Z"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M194 93.5h70V51l6.086 6.086a2 2 0 0 0 2.828 0l12.672-12.672a2 2 0 0 0 0-2.828l-12.213-12.213A32.003 32.003 0 0 0 250.745 20H242.5s-4.5 4-13.5 4-13.5-4-13.5-4h-8.245a32.003 32.003 0 0 0-22.628 9.373l-12.213 12.213a2 2 0 0 0 0 2.828l12.672 12.672a2 2 0 0 0 2.828 0L194 51v42.5Z"
          fill="#fff"
        />
        <path
          d="M211 20h-3.745a32.003 32.003 0 0 0-22.628 9.373l-12.213 12.213a2 2 0 0 0 0 2.828l12.672 12.672a2 2 0 0 0 2.828 0L194 51v42.5h70V51l6.086 6.086a2 2 0 0 0 2.828 0l12.672-12.672a2 2 0 0 0 0-2.828l-12.213-12.213A32.003 32.003 0 0 0 250.745 20H242.5s-4.5 4-13.5 4-13.5-4-13.5-4H211Zm0 0c0 5.667 5.2 15.5 18 15.5"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="m186.875 58.438 3.281-3.282-15.562-15.562-3.282 3.281 15.563 15.563Zm84.406 0L268 55.156l15.562-15.562 3.282 3.281-15.563 15.563Z"
          fill="#6FDAC9"
        />
        <path
          d="M215.5 20h-8.245a32.003 32.003 0 0 0-22.628 9.373l-12.213 12.213a2 2 0 0 0 0 2.828l12.672 12.672a2 2 0 0 0 2.828 0L194 51v42.5h70V51l6.086 6.086a2 2 0 0 0 2.828 0l12.672-12.672a2 2 0 0 0 0-2.828l-12.213-12.213A32.003 32.003 0 0 0 250.745 20H242.5m-27 0s4.5 4 13.5 4 13.5-4 13.5-4m-27 0c.833 4.667 4.7 11 13.5 11s12.667-6.333 13.5-11"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M24 93.5h70V51l6.086 6.086a2 2 0 0 0 2.828 0l12.672-12.672a2 2 0 0 0 0-2.828l-12.213-12.213A32.002 32.002 0 0 0 80.745 20h-43.49a32 32 0 0 0-22.628 9.373L2.414 41.586a2 2 0 0 0 0 2.828l12.672 12.672a2 2 0 0 0 2.828 0L24 51v42.5Z"
          fill="#fff"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M59 93.5V76m0 27.5V94m0-26V34m170.364 59.518s-2.675 4.901-4.661 6.048c-1.987 1.147-4.248.949-5.051-.441-.803-1.39.157-3.448 2.143-4.595 1.987-1.147 7.569-1.012 7.569-1.012Z"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M228.636 93.518s2.675 4.901 4.661 6.048c1.987 1.147 4.248.949 5.051-.441.803-1.39-.157-3.448-2.143-4.595-1.987-1.147-7.569-1.012-7.569-1.012Z"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M225.5 108c.167-4.833 1.5-14.5 5.5-14.5"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M232.5 108c-.167-4.833-1.5-14.5-5.5-14.5"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="m229.049 58.112 3.614-3.614a11.085 11.085 0 0 1 7.954-3.364c6.138 0 11.133 5.014 11.133 11.175 0 6.161-4.995 11.175-11.133 11.175a11.075 11.075 0 0 1-7.742-3.151l-11.651-11.779a5.335 5.335 0 0 0-3.839-1.628c-2.958 0-5.363 2.415-5.363 5.383 0 2.969 2.405 5.383 5.363 5.383a5.342 5.342 0 0 0 3.669-1.46l1.731-1.755"
          stroke="#10B1B1"
          stroke-width="2"
          stroke-linecap="square"
          stroke-linejoin="round"
        />
        <path
          d="m235.866 59.49.912-.934a5.343 5.343 0 0 1 3.839-1.628c2.958 0 5.363 2.415 5.363 5.383s-2.405 5.383-5.363 5.383a5.338 5.338 0 0 1-3.689-1.48l-11.587-11.712a11.088 11.088 0 0 0-7.958-3.366c-6.138 0-11.133 5.014-11.133 11.175 0 6.161 4.995 11.175 11.133 11.175 3.016 0 5.758-1.211 7.764-3.173l3.731-3.732"
          stroke="#10B1B1"
          stroke-width="2"
          stroke-linecap="square"
          stroke-linejoin="round"
        />
        <path
          d="m175 40 12.094 12.094M6.161 38 21 52.839M111.839 38 97 52.839M283.094 40 271 52.094M24 111c4.469-1.781 13-8.063 13-17m56 17c-4.469-1.781-13-8.063-13-17"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path
          d="M39.778 13 58.87 32.092l-2.828 2.828a7 7 0 0 1-9.9 0L32 20.778 39.778 13Z"
          fill="#E7E4F2"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
        <path d="M40.797 12.578h36.297" stroke="#171321" stroke-width="2" stroke-linecap="square" />
        <path
          d="M78.092 13 59 32.092l2.828 2.828a7 7 0 0 0 9.9 0L85.87 20.778 78.092 13ZM67.745 45.063H85.87v12.124a6 6 0 0 1-6 6H67.745V45.064Z"
          fill="#E7E4F2"
          stroke="#171321"
          stroke-width="2"
          stroke-linecap="square"
        />
      </svg>
    </template>
    <template #title>Something seems to be missing</template>
    <template #text>
      <nuxt-link to="/">Go to homepage</nuxt-link> or
      <a href="https://gitlab.com/gitlab-org/gitlab-services/design.gitlab.com/-/issues/new"
        >create an issue</a
      >.
    </template>
  </layout>
</template>
